<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- ngPhoton -->
    <!-- <script src="lib/ngPhoton/ngPhoton.min.js"></script> -->
    <script src="lib/ngPhoton/softap-browser.js"></script>
    <script src="lib/ngPhoton/ngPhoton.js"></script>


    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>
      <ion-content class="padding">
        <button class="button button-block" ng-click="info()">Get Info</button>
        <button class="button button-block" ng-click="scan()" ng-if="gotInfo">Scan</button>
        <div class="list list-inset">
          <div ng-repeat="ap in accessPoints" class="item item-icon-right" ng-click="selectAP(ap)" ng-class="{'item-dark': ap.ssid === selectedAP.ssid}">
            <i class="icon ion-locked" ng-if="ap.sec"></i>
            {{ap.ssid}} ({{ap.signalStrength}}%)
          </div>
        </div>
        <button class="button button-block" ng-click="connect(selectedAP)" ng-if="accessPoints">Connect</button>
      </ion-content>
    </ion-pane>
  </body>
</html>
